body{ TEXT-ALIGN: center; }
span{ color: red; }
.center-block{  
    width: 70%;
    height: 750px;
    vertical-align:middle;
    line-height:200px;
}

.title{  
        height: 8%;
        vertical-align:middle;
}

.left-block{
    left: 3%;
    MARGIN-RIGHT: auto;
    width: 70%;
    height: 750px;
    vertical-align:middle;
    line-height:200px;
}
.right-block{
    position: absolute;
    right: 3%;
    top: 6%;
    margin:1% 1rem 0 0;
    width:20%;
    height:80%;
}
.news_time{
    display:block;
    position: relative;
    left:5%;
    top: 0;
    margin:2rem 1rem 0 0;
    width:70%;
    height: 5%;
    font-size:1.5rem;
    font-weight: 900;
}


.news_content{
    TEXT-ALIGN: left;
    display: block;
    position: relative;
    top:15px;
    right: 0;
    padding-left: 1rem;
    margin: 2% 1rem 0 0;
    width: 100%;
    height: 80%;
    overflow-y:scroll;

}
.close_window{
    display: block;
    position: relative;
    top: 3%;
    bottom: 10px;
    margin:2rem 1rem 0 0;
    width: 95%;
    height: 5%;
}

.button {
  color: #666;
  background-color: #fff;
  border-color: #eee;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  border: none;
 }

 .button-rounded {
  border-radius: 4px; }

 .button-border {
    border-width: 2px;
    border-style: solid;
    line-height: 30px;
 }

 .button-border:hover{
    background-color: rgba(255, 255, 255, 0.9);
 }
